body {
  font-family: verdana;
  color: whitesmoke;
  background-color: rgb(39, 42, 46);
}

main {
  display: flex;
}
main > * {
  flex: 1;
}

select, button {
  height: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  border: solid 1px dodgerBlue;
}

form > * {
  margin: 1rem;
}
